body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color: #171725;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 600;
}

button {
    border: 0;
}

a {
    list-style: none;
    text-decoration: none;
}

p {
    margin: 0;
    line-height: 1.4;
}


.g__initials-rounded-circle {
    background: #6D42D8;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    font-weight: 600;
    padding: 15px;
}